.payment{
  display: flex;
  align-items: center;

}

.titulo-payment{
  margin-right: 10px;
}

.container-form {
  input {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-200);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }
  }
}