.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teste {
    display: flex;
    flex-direction: row;
}

.teste2 {
    margin-right: 5rem;
}