.client-card-container {
  display: flex;
  justify-content: space-between;
  background: var(--white);
  padding: 10px;
  width: 750px;
}

.payment-button{
  margin-top: 15px;
  width: 190px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.column-info {
  display: flex;
  flex-direction: column;

}

.buttons-client-address {
  display: flex;
  flex-direction: column;
}

.two-buttons {
  display: flex;
  flex-direction: row;
}