.cesta-vazia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.grid {
  display: flex;
  justify-content: space-around;
  gap: 25;
  height: calc(100vh - 70px);

  .books-list {
    overflow: auto;
    padding: 10px 40px;
  }
}
