.container-form {
  input {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-400);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }

    &:read-only {
      background: var(--gray-200);
      color: var(--black);
    }
  }
}
