.client-card-admin {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;

  transition: all 0.5s;

  &:hover {
    transform: translate(10px, 10px);
    box-shadow: var(--box-shadow-focus);
  }
}

.payment-button {
  margin-top: 15px;
  width: 190px;
}
