.navbar-left-client {
  width: 300px;
  background-color: var(--white);
}

.admin-nav-item {
  height: 80px;
  display: block;
  border-bottom: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--gray-400);
  transition: color .3s;

  &.active {
    background: rgba (64, 123, 255, 0.3);
    color: var(--blue-equals);
  }
  &:hover {
    color: var(--blue-equals);
  }
}
