.client-dados-pessoais {
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin-left: 150px;
}

.client-endereco-faturamento {
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin-left: 150px;
}

.client-endereco-entrega {
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin-left: 150px;
}

.input-copiar-endereco-faturamento {
    margin-left: 30px;
}

.client-login {
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin-left: 150px;
}