.form-container {
  input, textarea {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-200);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }
  }
}

// .select {
//   background: black;
// }

.category-select__control {
  height: 50px;
  border-radius: 5px !important;
  border: 1px solid #E1E1E1;
}

.category-select__indicator-separator {
  display: none;
}

.category-select__placeholder {
  color: #E9E9E9;
}