.form-container {
  input {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-200);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }

    &:read-only {
      color: var(--black);
      background: var(--gray-200);
    }
  }
}

.roles-select__control {
    height: 50px;
    border-radius: 5px !important;
    border: 1px solid #E1E1E1;
}

.roles-select__indicator-separator {
    display: none;
}

.roles-select__placeholder {
    color: #E9E9E9;
}

.user-checkbox {
    margin-left: 10px;
}