.home-container {
  height: calc(100vh - 70px);
  padding-top: 30px;
}

.search {
  // margin-top: 30px;
  display: flex;
  justify-content: center;
}

.books-container {
  height: calc(100vh - 70px - (60px + 30px));
  // (tamanho da tela) - (navbar) - (search + margin)
  overflow: hidden;
  overflow-y: scroll;
}

.books-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  // width: auto;

  gap: 30px 100px;
  padding: 30px 100px 30px;
}

.books-pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}
