.user-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 15px;
}

.user-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-left: 10px;
}

.user-card-author {
    margin-top: 10px;
    margin-left: 10px;
}

.user-card-author-label {
    font-weight: 600;
    margin-right: 10px;
}

.user-card-id-admin {
    margin-left: 10px;
}

.user-card-cpf-label {
    margin-left: 10px;
}

.user-card-status-label {
    margin-left: 10px;
}