.table {
    text-align: center;
    border: 0.1rem solid #000000;
    margin: 0 auto;
    margin-top: 0rem;
}

.buttonsLabel {
    margin-top: 2rem;
    margin-left: 17.5rem;
}

.buttonsLeft {
    margin-left: -2rem;
}

.buttonLeft {
    margin-left: 0.5rem;
}

.labelPags {
    margin-left: 1rem;
}

.buttonsRight {
    margin-left: 1rem;
}

.buttonRight {
    margin-left: 0.5rem;
}