.resume{
  display: grid;
  grid-template-columns: 900px 100px;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .resume-customer {
    grid-column: 1/3;
    height: 180px;
  }

  .resume-products {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: last;
    border-radius: 10px;
  }
}

.list-addresses {
  max-height: 340px;
  overflow: hidden;
  overflow-y: auto;
}

.summary {
  border-radius: 1000px;
}

.card-address {
  border: 30px;

}

.pag {
  border-radius: 15px;
  background: var(--white);
  padding: 10px 10px;
  width: 1010px;
}
