.resume {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;

  .summary-container {
    width: 1000px;
    height: calc(100vh - 70px);
    background-color: var(--white);
  }
}

.buttons-checkout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 40px;
}

.list-addresses {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-height: 340px;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px 40px 20px 20px;
}

.card-address {
  border: 30px;
}

.pag {
  border-radius: 15px;
  background: var(--white);
  padding: 10px 10px;
  width: 1010px;
}
