.container {
  width: 1000px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.title-summary {
  text-align: center;
}

.continuar {
  display: flex;
  justify-content: center;
}

.valor {
  text-align: end;
}

.linha {
  width: auto;
  border: 0.5px solid var(--gray-400);
  margin-top: 5px;
  margin-bottom: 5px;
}

.frete {
  background: var(--white);
  margin: 15px 0;
  padding: 10px;
  border: 1px solid var(--gray-200);
  border-radius: 10px;

  input {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-400);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }
  }
}

.calcular {
  text-align: center;
}

.calc {
  display: flex;
  justify-content: center;
}