.valor {
  text-align: end;
}

.linha {
  width: auto;
  border: 0.5px solid rgb(194, 186, 186);
  margin-top: 5px;
  margin-bottom: 5px;
}

.frete {
  margin: 10px 10px;
}

.calcular {
  text-align: center;
}