.product-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 15px;
}

.product-card-image-admin {
    width: 120px;
    height: 160px;
}

.product-card-title-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
}

.product-card-author {
    margin-top: 10px;
}

.product-card-author-label {
    font-weight: 600;
    margin-right: 10px;
}