.cabecalho{
  display: flex;
  flex-direction: row;
}

.card-form {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-bottom: 20px;
}