.payment-modal-title {
  text-align: center;
  padding-top: 20px;
}

.payment-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 375px;

  input, select {
    background: var(--white);
    color: var(--black);

    &::placeholder {
      color: var(--gray-400);
    }

    &:focus {
      color: var(--black);
      background: var(--white);
    }
  }
}

.background-color {
  background: var(--white);
  color: var(--black);
}

.buttons-payment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cartao {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dividir {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .codVer {
    margin-right: 10px;
    width: 180px;
  }

  .numCartao {
    width: 100%;
  }

  select {
    width: 100%;
  }
}

.boleto {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dividir {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
