.login-form {
  margin-top: 50px;

  .cadastrar {
    text-align: center;

    .divisao {
      display: flex;
      margin-top: 30px;

      .linha {
        border-top: 1.5px dashed gray;
        width: 180px;
        margin: auto;
      }
    }
  }
}
