.titulos-produto{
    display: flex;
    flex-direction: row;
}

.geral-client {
    width: fit-content;
  }
  
  .plus-button {
    margin-bottom: auto;
    margin-top: -8px;
  }
  
  .card-base {
    border-radius: 10px;
  }