.background-color {
  background: var(--white);
  color: var(--black);
  border-color: var(--gray-200);
}

.card-color {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--gray-200);
  border-radius: 5px;
}

.titulos-produto {
  display: flex;
  flex-direction: row;
}

.geral-client {
  width: fit-content;
}
