// .product-modal-container {
//   transition: display 1s;
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0, 0, 0); /* Fallback color */
//   background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

//   &.show {
//     display: block;
//   }

//   &.close {
//     -webkit-animation-name: animatetopreverse;
//     -webkit-animation-duration: 0.2s;
//     animation-name: animatetopreverse;
//     animation-duration: 0.2s;
//   }
// }

// /* Animation */
// @-webkit-keyframes animatetop {
//   from {transform: scale(0);}
//   to {transform: scale(1);}
// }

// @keyframes animatetop {
//   from {transform: scale(0);}
//   to {transform: scale(1);}
// }

// /* Animation reverse */
// @-webkit-keyframes animatetopreverse {
//   from {transform: scale(1);}
//   to {transform: scale(0);}
// }

// @keyframes animatetopreverse {
//   from {transform: scale(1);}
//   to {transform: scale(0);}
// }

.product-modal-content {
  left: -60%;
  background-color: var(--white);
  margin: auto;
}

span {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.product-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.icon-goback {
  color: var(--blue);
  transform: rotate(-180deg) translate(0%, 20%);
  margin-right: 30px;
}

.text-goback {
  font-size: var(--h2);
  color: var(--black);
  text-transform: uppercase;
}

.product-details-card-image {
  border: 1px solid var(--gray-200);
  border-radius: 20px;
  padding: 30px 60px;
  width: 400px;
  height: 565px;
}

.product-details-image {
  width: 100px;
  height: 100px;
}

.product-details-card-description {
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  padding: 20px 0px 20px 20px;
  text-align: justify;
  width: 600px;
  height: 350px;
  overflow: hidden;
  overflow-y: auto;
}

.product-description-title {
  font-size: var(--h2);
  line-height: 33px;
  letter-spacing: -0.015em;
  color: var(--gray-400);
  margin-bottom: 25px;
}

.product-description-text {
  font-size: var(--p);
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--gray-400);
  padding-right: 10px;
}

.product-details-name {
  font-size: var(--h1);
  line-height: 49px;
  letter-spacing: -0.015em;
  max-width: 100%;
  white-space: nowrap; //§ nunca quebrar linha
  overflow: hidden; //§ deixar invisivel o que passar dos 100%
  text-overflow: ellipsis; //§ reticencias quando passar dos 100%
}

.product-details-price {
  font-size: var(--h2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity {
  font-size: var(--h3);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
